html, body{
    height: 100%;
    width: 100%;
}

.button{
    padding: 15px;
    margin: 0px 3px;
    font-weight: bold;
    height: 50px;
    width: 50px;
    background-color: bisque;
    border-radius: 5px;
    font-size: 25px;
    cursor: pointer;
}

.row1, .row2, .row3, .row4, .row5, .row6{
    margin: 8px 0px;
}

input {
    margin: 0px;
    padding: 10px 50px; 
    display: inline-block;
    width: 125px;
    height: 50px;
    font-size: 25px;
    text-align: right;
    background-color:lightskyblue;
    color: black;
    cursor:text;
}


.button.button.equal{
    width: 105px;
    background-color: blue;
    color: white;
    padding: 15px;
    cursor: pointer;
}

.button.button.add, .button.button.subtract, .button.button.divide, .button.button.multiply{
    color: blue;
}

.button.button.clear{
    color: red;
}
